@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.righteous {
  font-family: 'Righteous', sans-serif;
}

.fs-7 {
  font-size: 0.9rem;
}

.fs-8 {
  font-size: 0.75rem;
}

a {
  text-decoration: none;
}

.underline:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

hr {
  margin-block: 0.5rem;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.profile-menu {
  min-width: 250px;
}

.menu-option {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 0.375rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
}

.menu-option:hover {
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
}

.btn-clean {
  background: none;
  border: none;
  padding: 0;
}

.btn-special {
  position: relative;
  background: none;
  border: none;
  padding: 1rem;
}

.btn-special.active {
  font-weight: 600;
}

.btn-special:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 3px solid #58a399;
  pointer-events: none;
  height: 100%;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
}

.btn-special:hover:after {
  width: 100%;
  opacity: 1;
  transition: 0.3s;
}

.btn-special.active:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 3px solid #58a399;
  height: 100%;
  width: 100%;
  opacity: 1;
  pointer-events: none;
}

#settings-menu {
  transition: 0.3s;
}

#settings-menu.vanish-left {
  top: -500%;
  opacity: 0;
  transform: translateX(-30px);
  transition: 0.3s;
}

#change-username,
#change-email,
#change-password,
#delete-account {
  width: 95%;
  top: -500%;
  opacity: 0;
  transform: translateX(30px);
  transition: 0.3s;
}

#change-username.vanish-right,
#change-email.vanish-right,
#change-password.vanish-right,
#delete-account.vanish-right {
  opacity: 1;
  transform: translateX(0px);
  transition: 0.3s;
}

.propic {
  width: 100%;
  height: 100%;
  max-height: 180px;
  max-width: 180px;
  border-radius: 50%;
}

.propic-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: inset 0px 0px 0px 60px rgba(0, 0, 0, 0.329);
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  max-height: 180px;
  max-width: 180px;
  border-radius: 50%;
}

.propic-icon:hover {
  opacity: 100%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(0, 0, 0, 0.2);
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.notification-fade {
  animation-name: fade;
  animation-duration: 3s;
  animation-delay: 5s;
}

.special-textarea {
  position: relative;
}

.special-textarea > label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  padding: 1rem 0.75rem;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  border: var(--bs-border-width) solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.special-textarea > .form-control:focus ~ label,
.special-textarea > .form-control:not(:placeholder-shown) ~ label,
.special-textarea > .form-control-plaintext ~ label,
.special-textarea > .form-select ~ label {
  color: rgba(var(--bs-body-color-rgb), 0.65);
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.special-textarea > .form-control:focus,
.special-textarea > .form-control:not(:placeholder-shown),
.special-textarea > .form-control-plaintext:focus,
.special-textarea > .form-control-plaintext:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}

.special-textarea > .form-control,
.special-textarea > .form-control-plaintext {
  padding: 1rem 0.75rem;
}

.textarea-resize-none {
  resize: none;
}

.form-floating > .form-select-sm {
  padding-left: 0.75rem;
}

.line-break {
  white-space: pre-line;
}
