@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.righteous {
  font-family: 'Righteous', sans-serif;
}

.fs-7 {
  font-size: 0.9rem;
}

.fs-8 {
  font-size: 0.75rem;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}
